.required::after {
    content: " *";
    color: red;
}

.protip {
    margin-top: 20px;
    color: var(--color-fg-muted);
    text-align: center;
}

[x-cloak] { display: none !important; }

.repo-language-color {
    position: relative;
    top: 1px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid var(--color-primer-border-contrast);
    border-radius: 50%;
}

.Box-row--endorsed {
    background-color: var(--color-success-subtle);
}

.Box-row--dropped {
    background-color: var(--color-danger-subtle)
}

.Progress .color-bg-draft-emphasis {
    background-color: var(--color-attention-emphasis);
}

.Progress .color-bg-endorsed-emphasis {
    background-color: var(--color-success-emphasis);
}

.Progress .color-bg-dropped-emphasis {
    background-color: var(--color-danger-emphasis);
}

.Progress .color-bg-validated-emphasis {
    background-color: var(--color-accent-emphasis);
}

.color-text-draft {
    color: var(--color-attention-emphasis);
}

.color-text-endorsed {
    color: var(--color-success-emphasis);
}

.color-text-dropped {
    color: var(--color-danger-emphasis);
}

.Box-row.Box-row--unread, .Box-row.unread {
    box-shadow: inset 2px 0 0 var(--color-danger-emphasis);
}

.open.octicon {
    color: var(--color-danger-fg);
}

.closed.octicon {
    color: var(--color-success-fg);
}

.mail-status.unread {
    display: inline-block;
}

.mail-status {
    position: absolute;
    top: -6px;
    left: 6px;
    z-index: 2;
    display: none;
    width: 14px;
    height: 14px;
    color: #fff;
    background-image: linear-gradient(#54a3ff, #006eed);
    background-clip: padding-box;
    border: 2px solid var(--color-header-bg);
    border-radius: 50%;
}

@media print {
    .d-print-none {
        display: none;
    }

    table {
        page-break-inside: avoid;
    }

    tr {
        page-break-inside: avoid;
        page-break-after: auto;
    }

    thead {
        display: table-header-group;
    }

    tfoot {
        display: table-footer-group;
    }
}