.required::after {
    content: " *";
    color: red;
}

.protip {
    margin-top: 20px;
    color: var(--color-fg-muted);
    text-align: center;
}

[x-cloak] { display: none !important; }

.repo-language-color {
    position: relative;
    top: 1px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid var(--color-primer-border-contrast);
    border-radius: 50%;
}

.Box-row--endorsed {
    background-color: var(--color-success-subtle);
}

.Box-row--dropped {
    background-color: var(--color-danger-subtle)
}

.Progress .color-bg-draft-emphasis {
    background-color: var(--color-attention-emphasis);
}

.Progress .color-bg-endorsed-emphasis {
    background-color: var(--color-success-emphasis);
}

.Progress .color-bg-dropped-emphasis {
    background-color: var(--color-danger-emphasis);
}

.Progress .color-bg-validated-emphasis {
    background-color: var(--color-accent-emphasis);
}

.color-text-draft {
    color: var(--color-attention-emphasis);
}

.color-text-endorsed {
    color: var(--color-success-emphasis);
}

.color-text-dropped {
    color: var(--color-danger-emphasis);
}

.Box-row.Box-row--unread, .Box-row.unread {
    box-shadow: inset 2px 0 0 var(--color-success-emphasis);
}