.required::after {
    content: " *";
    color: red;
}

.protip {
    margin-top: 20px;
    color: var(--color-fg-muted);
    text-align: center;
}

[x-cloak] { display: none !important; }

.repo-language-color {
    position: relative;
    top: 1px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid var(--color-primer-border-contrast);
    border-radius: 50%;
}